node_modules
.output
.vinxi
.tanstack
.nitro
dist
dist-ssr

.git
.github
.gitignore

.env
.env.*
!.env.example

.omc
.kilo
.wrangler
.dev.vars

.vscode
.idea
.DS_Store

*.log
logs

README.md
Dockerfile
.dockerignore
